@model EmployeeOrders.Web.Models.ViewModels.LogInViewModel

@{
	ViewData["Title"] = "LogIn";
}

<div class="container col-sm-4" style="margin-top:60px;margin-bottom:60px; ">
	<div class="card border">
		<div class="card-header">
			<h2><strong>Log In</strong></h2>
		</div>
		<div class="card-body">
			<form asp-action="LogIn" method="post">
				<div class="form-group">
					<label asp-for="Name"></label>
					<input class="form-control" asp-for="Name" />
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input class="form-control" asp-for="Password" type="password" />
				</div>
				<input type="submit" class="btn btn-outline-success btn-lg btn-block" value="LogIn" />
			</form>
		</div>
	</div>
</div>



