@model EmployeeOrders.Web.Models.ViewModels.RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<div class="container col-sm-4" style="margin-top:60px;margin-bottom:60px; ">
	<div class="card border">
		<div class="card-header">
			<h2><strong>Create new user</strong></h2>
	</div>
		<div class="card-body">
			<form asp-action="Register" method="post">
				<div class="form-group">
					<label asp-for="Name"></label>
					<input class="form-control" asp-for="Name" />
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input class="form-control" asp-for="Password" type="password" />
				</div>
				<div class="form-group">
					<label asp-for="RepeatPassword"></label>
					<input class="form-control" asp-for="RepeatPassword" type="password" />
				</div>
				<div class="form-group">
					<label asp-for="Department"></label>
					<input class="form-control" asp-for="Department"/>
				</div>
				@*<a class="btn btn-outline-success float-right" asp-action="Register" asp-controller="User">Submit</a>*@
				<input type="submit" class="btn btn-outline-success btn-lg btn-block" value="Register" />
			</form>
		</div>
	</div>
</div>


